<!--
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start a new turn in your career with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".5s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay="1.0s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay="1.5s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>

    </div>
</section>
-->


<section id="contact" style="padding-top:70px; padding-bottom:70px;">
	<div class="cnt_us">
		<p>Contact Us.</p>
	</div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <form>
                	<div class="control-group form-group">
                		<input type="text"  name="name" placeholder="Name" required>
                	</div>
                	<div class="control-group form-group">
                		<input type="email"  name="email" placeholder="Email" required="">
                	</div>
                	<div class="control-group form-group">
                		<input type="number"  name="mobile" placeholder="mobile" required="">
                	</div>
                    
                	<div class="control-group form-group">
                		<textarea placeholder="Message" required></textarea>
                	</div>
                	<div class="control-group form-group">
                		<input class="btn btn-danger" type="submit" value="send" name="">
                	</div>
                </form>
            </div>
        <div class=" address col-lg-6">
        	    <div class="">
        			<h1>A. G. Tutorials</h1>
        			<p>AGT is a framework which helps you enjoy the learning process and makes study more effective! Just fill the form below and start going, on the ladders to success!</p>
        		</div>
        	<div >
        		<div>
        			<i class="fa fa-map-marker" style="width:30px"></i>
        			Mumbra, Dist.Thane, India.
        		</div>
        		<div>
        			<i class="fa fa-phone" style="width:30px"></i>
        			Phone: +91 7666788347 / 8433564479
        		</div>
        		<div>
        			<i class="fa fa-envelope" style="width:30px"> </i>
        			Email: tubeagt@gmail.com
        		</div>
        	
        	<div class="icon">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".4s"></i>
                
            </a>
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".8s"></i>
                
            </a>
            <a href="https://facebook.com/">
            <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay="1.2s"></i>
            </a>

        </a>
        <a href="https://instagram.com/">
        <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay="1.6s"></i>
        </a>
           

        </div>
    </div>
    </div>
        

    </div>
</section>
