<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h2>The Favourite Choice of most Students!</h2>
          
            <h1>A. G. Tutorials</h1>
            <hr>
            <p>AGT is a framework which helps you enjoy the learning process and makes study more effective!
                 Just fill the form below and start going, on the ladders to success!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
