<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top" style="margin:10px;"><i class="agt-nav">Ayesha Miss's - A.G.T</i></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding:10px;">
            <ul class="nav navbar-nav navbar-right">
                <li class="listing">
                    <a class="page-scroll" href="#about" style="font-size:1.3em;">About</a>
                </li>
                <li class="listing">
                    <a class="page-scroll" href="#services" style="font-size:1.3em;">Services</a>
                </li>
                <!-- <li>
                    <a class="page-scroll" href="#portfolio" style="font-size:1.3em;">Portfolio</a>
                </li> -->
                <li class="dropdown ">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-size:1.3em;margin-left: 5px;margin-right: 5px;">Portfolio
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Our Courses</a></li>
                      <li><a href="#">Admissions</a></li>
                      <li><a href="#">Results</a></li>
                    </ul>
                </li>
                <li class="listing">
                    <a class="page-scroll" href="#contact" style="font-size:1.3em;">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
